body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div h1 , div h2{
  font-size: 20px;
  color: #08574c;
  text-align: center;
}

ul{
  border: 1px solid #08574c;
  padding: 20px;
  width: 25%;
  display: flex;
  justify-content: center;
  transition: .8s;
  background-color: #825;
  margin: 0px auto;
}
a{
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  transition: .8s;
}
ul:hover{
  background-color: #825;
  box-shadow: 2px 2px 50px rgba(0,0,0);
}
a:hover{
  color: #000;
  text-shadow: 0px 0px 5px #FFF;
}